<div class="wrapper">
  <section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/Ot51Jac.jpg" style="background-image: url('http://i.imgur.com/Ot51Jac.jpg');">

    <div class="container">

      <!-- MODULE TITLE -->
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <h1 class="module-title font-alt align-center">Contact</h1>

          <div class="module-subtitle font-inc align-center">
            Inhale the future, exhale the past,<br>Live in the moment.
          </div>

        </div>

      </div>
      <!-- /MODULE TITLE -->

    </div>

  </section>
  !<div class="container">
			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h2 class="module-title align-center font-alt">Get in touch</h2>

					<div class="module-subtitle align-center font-inc">
            Email me regarding class scheduling, pricing, group rates, or general questions!
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

			<!-- CONTACT FORM -->
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <div id="contact-form">
          <%= form_for @message, id: "contact-form" do |f| %>

          <div class="form-group">
            <%= f.text_field :name, class: "form-control", id: "cname", name: "cname", placeholder: "Name" %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, class: "form-control", id: "cemail", name: "cemail", placeholder: "Your Email" %>
          </div>

          <div class="form-group">
            <%= f.text_field :subject, class: "form-control", id: "csubject", name: "csubject", placeholder: "Subject" %>
          </div>

          <div class="form-group">
            <%= f.text_area :content, class: "form-control", id: "cmessage", name: "cmessage", rows: "7", placeholder: "Message" %>
          </div>

          <%= f.submit 'Send', class: 'btn btn-round btn-g' %>
          <% end %>
        </div>

      </div>

    </div>

  </div>
  <hr>

</div>
