<div class="wrapper">

	<!-- HOME -->
	<section class="module module-header bg-dark bg-dark-50" data-background="http://i.imgur.com/Vz5cbTF.jpg" style="background-image: url('http://i.imgur.com/Vz5cbTF.jpg');">

		<div class="container">

			<!-- MODULE TITLE -->
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<h1 class="module-title font-alt align-center"><%= @yoga_class.name %></h1>

					<div class="module-subtitle font-inc align-center">
						Inhale the future, exhale the past,<br>Live in the moment.
					</div>

				</div>

			</div>
			<!-- /MODULE TITLE -->

		</div>

	</section>

  <section class="module-small">

			<div class="container">

				<div class="row">

					<div class="col-sm-6">

						<div class="work-details">
							<h3 class="work-details-title font-alt">Description</h3>
							<ul>
                <li class="font-inc"><strong>Schedule:</strong></li>
                <% @yoga_class.schedules.each do |schedule| %>
                  <li><%= schedule.day %> | <%= schedule.time %> | <%= schedule.location %></li>
                <% end %>
							</ul>
						</div>

					</div>

					<div class="col-sm-6">
            <%= @yoga_class.description %>
					</div>

				</div>

			</div>

		</section>

	<% if @yoga_class.id == 7 %>
		<div class="align-center">

			<p>For class prices and enrollment, please call (607) 436-2548 or go online to <a href="http://ems.oneonta.edu/emsregics/chairyogasp17" target="_blank">SUNY Oneonta Continuing Education Website</a></p>

		</div>
	<% else %>
	  <div class="align-center">

	    <p>Classes are $9, cash only please.<br>Non-transferable 10 punch card, good for 6 months from date of purchase:  $81.</p>

	  </div>
	<% end %>

</div>
